repos:
  - repo: https://github.com/bitnami/readme-generator-for-helm
    rev: "2.7.2"
    hooks:
      - id: helm-readme-generator
        # in order to run helm-readme-generator only once
        pass_filenames: false
        always_run: true
        # default args are [--readme=chart/README.md, --values=chart/values.yaml]
        args: [--readme=helm/README.md, --values=helm/values.yaml]