apiVersion: apps/v1
kind: Deployment
metadata:
  name: postgres
  namespace: {{ .Release.Namespace }}
  labels:
    app: postgres
spec:
  replicas: 1
  selector:
    matchLabels:
      app: postgres
  template:
    metadata:
      labels:
        app: postgres
    spec:
      containers:
        - name: postgres
          image: 'postgres:18'
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 5432
          envFrom:
          - secretRef:
              name: "{{ .Release.Name }}-postgres-secrets"
          volumeMounts:
            - mountPath: /var/lib/postgresql/
              name: postgresdata
      volumes:
        - name: postgresdata
          persistentVolumeClaim:
            claimName: "cephfs-{{ .Release.Name }}-postgres-pvc"

---

apiVersion: apps/v1
kind: Deployment
metadata:
  name: adminer
  namespace: {{ .Release.Namespace }}
  labels:
    app: adminer
spec:
  replicas: 1
  selector:
    matchLabels:
      app: adminer
  template:
    metadata:
      labels:
        app: adminer
    spec:
      containers:
        - name: adminer
          image: "adminer:5.4.1"
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 8080
