apiVersion: v1
kind: Service
metadata:
  name: postgres-service
  namespace: {{ .Release.Namespace }}
  labels:
    app: postgres
spec:
  ports:
    - port: 5432
      targetPort: 5432
  selector:
    app: postgres

---

apiVersion: v1
kind: Service
metadata:
  name: adminer-service
spec:
  ports:
  - port: 8080
    targetPort: 8080
  selector:
    app: adminer
