# For local development use:
# Creates a persistent volume named "postgres-pv". 
#
# This should be done only one time, separately from the helm install/upgrade cycle,
#
apiVersion: v1
kind: PersistentVolume
metadata:
  name: cephfs-${RELEASE_NAME}-postgres-pv
  labels:
    velero.io/exclude-from-backup: "true"
spec:
  # local-path must be used in local dev because postgres needs permissions to
  # `chown` the data directory and that does not seem possible with
  # `local-storage`.
  storageClassName: local-path
  capacity:
    storage: 5Gi
  volumeMode: Filesystem
  accessModes:
    # ReadWriteOnce:
    # the volume can be mounted as read-write by a single node. ReadWriteOnce access mode still
    # can allow multiple pods to access the volume when the pods are running on the same node.
    #
    - ReadWriteOnce
    # ReadOnlyMany:
    # the volume can be mounted as read-only by multiple nodes.
    # - ReadOnlyMany
    #
    # ReadWriteMany:
    # the volume can be mounted as read-write by many nodes.
    # - ReadWriteMany

  # persistentVolumeReclaimPolicy defines what happens to a persistent volume when released from its
  # claim. Valid options are:
  #   Retain --   after the PersistentVolumeClaim is released, keep this PersistentVolume and its
  #               contents (default for manually created PVs)
  #   Delete --   after the PersistentVolumeClaim is released, delete this PersistentVolume and
  #               delete the underlying storage (default for dynamically provisioned PVs)
  #   Recycle --  (DEPRECATED) after the PersistentVolumeClaim is released, delete the contents of
  #               this PersistentVolume and make it available for another claim. "Recycle" must be
  #               supported by the volume plugin underlying this PV
  #
  persistentVolumeReclaimPolicy: Retain
  # hostPath.path hostPath represents a directory on the host. Provisioned by a developer or tester.
  # This is useful for single-node development and testing only! On-host storage is not supported
  #  in any way and WILL NOT WORK in a multi-node cluster.
  # Note: if using Rancher Desktop on a Mac, k8s runs inside a virtual machine, so the directory
  #  used by the persistent volume mount is generally not shared with the corresponding location on
  #  the mac's hard drive. However the user's home directory IS shared with the VM, so use a path
  #  within /Users/yourname/... if you need access outside of k8s. It may be necessary to chmod 777
  # so the OGDC user can write to it - so be careful! Again, this is for testing/dev only!
  hostPath:
    path: /postgres
